/* fontes */
@font-face {
    font-family: "ModerneFraktur";
    src: url("/TrabalhoFinalFrontEnd/fontes/ModerneFraktur.ttf");
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("/TrabalhoFinalFrontEnd/fontes/PlayfairDisplay-VariableFont_wght.ttf");
}

/* Corpo */
body {
    background-color: #F4EFDF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: calc(100vh - 665.03px);
}

.navbar {
    background-color: #748A94;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer {
    background-color: #748A94;
    height: 180px;
    width: 100%;
}

/* Logo */
.container-fluid.header-bloc {
    background-color: #294669;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.row.header-bloc {
    height: 130px;
    width: 100%;
    padding: 0;
}

.col-2.header-bloc.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.img-logo {
    height: 100px;
    width: 180px;
    margin: 15px;
}

.col-5.header-bloc {
    padding: 0;
    height: 100%;
}

.logo-tx {
    text-align: right;
    color: #ddb25c;
    font-family: ModerneFraktur;
    font-size: 100px;
    height: 100%;
    margin: 0;
}

#logo-tx-pt2 {
    text-align: left;
}

/* Temas */
.botao-tema {
    position: absolute;
    right: 15px;
}

.class-botao-tema {
    background-color: #F4EFDF;
    border-color: #ddb25c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 22.5px;
}

/* linhas horizontais */
.coluna.hr-linha {
    padding-right: 15%;
    padding-left: 15%;
}

.hr-linha {
    margin: 0;
}

/* rodape links texto */
.container-fluid.footer-sup {
    background-color: #748A94;
    height: 120px;
}

.row.footer-sup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.col-md-2.footer-sup {
    text-align-last: center;
    height: 100%;
    font-family: PlayfairDisplay;
    font-size: medium;
}

.link-footer {
    color: royalblue;
    text-decoration: none;
}

.paragf.footer-sup {
    margin: 0;
    text-align: center;
    font-size: larger;
}

/* rodape links icones */
.container-fluid.footer-inf {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.coluna.footer-inf {
    padding: 10px;
    height: 100%;
    width: auto;
}

.imagens.footer-inf {
    height: 100%;
    width: 40px;
}

/* navbar */
.container-fluid.navbar {
    background-color: #748A94;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.col-navbar {
    width: auto;
}

.link-navbar {
    text-decoration: none;
}

.paragf-navbar {
    color: #000000;
    margin: 15px;
    text-align: center;
    font-family: PlayfairDisplay;
    font-size: larger;
}

/* Descrição text */
.container-fluid.desc {
    padding: 0;
}

.col-6.desc {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.card.desc {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.titulo {
    font-family: ModerneFraktur;
    font-size: xx-large;
}

.descricao {
    margin: 15px;
    font-family: PlayfairDisplay;
    font-size: large;
}

/* Descrição img */
.col.desc {
    padding: 0;
}

.row.desc {
    margin: 0;
    width: 100%;
}

.div-img {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    align-items: center;
    justify-content: center;
    height: 420px;
    width: 100%;
}

.img-fixa {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    padding: 0;
}

.card.desc {
    height: 321.39px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

/* Carrosel fotos */
.cointaner-fluid.carrosel {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.nome-slide {
    font-size: xx-large;
    font-family: ModerneFraktur;
}

.carousel-inner {
    border-radius: 50px;
}

/* Carrosel anuncios */
#anuncios {
    height: 321.39px;
    border-radius: 50px;
}

.carousel-inner.anuncio {
    height: 321.39px;
}


/* Clima */
.container-fluid.clima-anuncio {
    height: 321.39px;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.descricao.clima {
    font-size: x-large;
    margin: 0;
}

#titulo-clima-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#titulo-clima {
    width: auto;
    margin: 0;
}

#icone {
    align-self: center;
    width: 83px;
    height: 60px;
}

.dados-clima-int {
    margin: 0;
    margin-top: 5px;
}

#div-clima-fundo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

#img-clima-fundo {
    width: 100%;
    height: 100%;
}

#dados-clima {
    height: 321.39px;
    position: relative;
    z-index: 1;
}